<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Codescandy">

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/icon.png">

    <!-- darkmode js -->
    <script src="/assets/js/vendors/darkMode.js"></script>

    <!-- Libs CSS -->
    <link href="/assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css">


    <link rel="stylesheet" href="/assets/libs/tiny-slider/dist/tiny-slider.css">
    <title>{{tr.title}} | Quizs.Uz</title>
</head>