<!-- Footer -->
<!-- Footer -->
    <footer class="footer bg-dark-stable py-8"> <div class="container">
        <div class="row gy-6 gy-xl-0 pb-8">
            <div class="col-xl-3 col-lg-12 col-md-6 col-12">
                <div class="d-flex flex-column gap-4">
                    <div>
                        <img style="filter:brightness(0) invert(1)" width="200px" src="/assets/logo.png" alt="Quizs.Uz logo">
                    </div>
                    <p class="mb-0">
                        {{tr.footer_info}}
                    </p>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="d-flex flex-column gap-3">
                    <span class="text-white-stable">Company</span>
                    <ul class="list-unstyled mb-0 d-flex flex-column nav nav-footer nav-x-0">
                        <li>
                            <a href="#!" class="nav-link">About us</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Contact us</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">News and Blogs</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Career</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Investors</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="d-flex flex-column gap-3">
                    <span class="text-white-stable">Community</span>
                    <ul class="list-unstyled mb-0 d-flex flex-column nav nav-footer nav-x-0">
                        <li>
                            <a href="#!" class="nav-link">Help and Support</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Affiliate</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Blog</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Geeks Business</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-12">
                <div class="d-flex flex-column gap-3">
                    <span class="text-white-stable">Teaching</span>
                    <ul class="list-unstyled mb-0 d-flex flex-column nav nav-footer nav-x-0">
                        <li>
                            <a href="#!" class="nav-link">Become a teacher</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">How to guide</a>
                        </li>
                        <li>
                            <a href="#!" class="nav-link">Documentation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                <div class="d-flex flex-column gap-5">
                    <div class="d-flex flex-column gap-3">
                        <span class="text-white-stable">Contact</span>
                        <ul class="list-unstyled mb-0 d-flex flex-column nav nav-footer nav-x-0">
                            <li>
                                Time:
                                <span class="fw-semibold">9AM to 8:PM SKD</span>
                            </li>
                            <li>
                                Phone:
                                <span class="fw-semibold"><a href="tel:+998993178882">+998993178882</a></span>
                            </li>
                            <li>
                                Email:
                                <span class="fw-semibold"><a href="mailto:mirjaxon0011@gmail.com">mirjaxon0011@gmail.com</a></span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div
            class="row align-items-center g-0 border-top border-gray-800 pt-3 flex-column gap-1 flex-lg-row gap-lg-0">
            <!-- Desc -->
            <div class="col-lg-6 col-12 text-center text-md-start">
                <span>
                    Powered By ©
                    <span id="copyright">
                        <script>
                            document.getElementById("copyright").appendChild(document.createTextNode(new Date().getFullYear()));
                        </script>
                    </span>
                    <a href="https://MCoder.Uz" class="text-white-stable">MCoder.Uz</a>
                </span>
            </div>
            <!-- Links -->
            <div class="col-12 col-lg-6">
                <nav class="nav nav-footer justify-content-center justify-content-md-start justify-content-lg-end">
                    <a class="nav-link active" href="#!">Terms of use</a>
                    <a class="nav-link" href="#!">Cookies Settings</a>
                    <a class="nav-link" href="#!">Privacy policy</a>
                </nav>
            </div>
        </div>
    </div>
</footer>











mirshod 9
farangiz 9
Ne`matjon 6
g'olib 